*{
    margin:0px;
    padding:0px;
    user-select: none;
    /* z-index: 1; */
}
body {
    /* background: url(../resources/view-landscape-monochrome-palette.jpg);    background: white; */
	background-size: 100% 100%;
	/* animation: gradient 15s ease infinite; */
	height: 100vh;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
    max-height: 100vh;
}
html{
    z-index: 1;
}

#topper{
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
}
.cls{
    background-color: gold;
   
    border-radius: 10px;
    height: 50px;
    width: 100px;
    box-shadow: 0 5px 0;
    transition: background-color 0.3s ease;
}
 .cls:active{
    background-color: red !important;
    box-shadow: none !important;
    transform: translateY(5px) !important;
}
.cls:hover{
    background-color: green !important;
    color: white !important;
}



#img{
    width: 40px;
    padding-right: 10px;
    padding-top: 5px;
    height: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#answer{
    color:#f5ce23;
}
hr{
    width: 500px;
}

#title{
    padding-bottom: 0px;
    margin-bottom: 7px;
    padding-right: 5%;
    margin-top: 0px;
    padding-top: 0px;
    
    font-family: 'Paytone One', sans-serif;
    
    font-size: 5vw;
    
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /*background-color: rgb(90, 94, 93);*/
    background-color: white;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: animate 30s alternate infinite;

}
@keyframes animate{
    from{
        background-position: 0% 80%;
    }
    to{
        background-position: 100% 50%;
    }
}
.main{
   
/* display:grid;
grid-template-columns: 1fr 2fr 1fr;  */
display: flex;
      justify-content:space-between; /* Align children to the start (left) */
      /* column-gap: -30px;  */
      /*Spacing between child divs*/
      width: 100%;

}
#board{
    
    width: 30vw;
    /* height: 20vh; */

    margin-left: 155px;
    /* margin-right: 50px; */
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 23px;
}

.hangman{
    /* margin-top: 5vh; */
   display: flex;
   /* display: none; */
   flex-wrap: wrap;
   vertical-align: top;
   width: 20vw;
   height: 50vh;
}

#hang-man-img{
   display: none;
   padding-left: 15%;
   padding-bottom: 50%;
   width:20vw;
   height: 40vh;
} 

#hang{
   display: flex;
   align-items:center;   
}



.correct{
    background-color: #3fc031 !important;
    color: white !important;
    border-color: white !important;
    
}

.present{
    background-color: #f5ce23 !important;
    color: white !important;
    border-color: white !important;
}

.absent{
    background-color: #787C7E !important;
    color: white !important;
    border-color: white !important;
}

.keyboard-row{
    color: white;
    width: 33vw;
    margin-left: 34.4vw;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 2vw; */
}

#button12{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 6vh;
    font-size: 1.5vw;
    font-weight: 600;
    color: white;
    border-radius: 10px;
    border-color: rgb(255, 255, 255);
    background-color: black;
    cursor: pointer;
    letter-spacing: 0.05vh;
    z-index: 1;
    font-family: 'Paytone One', sans-serif;
}

#button12::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: gold;
  border-radius: 10px;
  z-index: -1;
  transition: .8s;
  font-family: 'Paytone One', sans-serif;
}

    #button12:hover::before{
    width: 100%;
    }

 .game-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /* pointer-events: none; */
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -10;
    padding: 0 1.57vh;
    transition: opacity 2s ease;
    cursor: pointer;
}

 .game-modal.show {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.4s 0.4s ease;
}
.game-modal .content {
   
    padding: 2vh;
    max-width: 27.6vw;
    width: 100%;
    border-radius: 10px;
    background: white;
    color: black;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    /* font-family: 'Paytone One', sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    letter-spacing: 1.5px;
    
}
.game-modal img {
    max-width: 8.55vw;
    

    margin-bottom: 20px;
}
.game-modal img[src="victory.gif"] {
    margin-left: -10px;
}
.game-modal h4 {
    font-size: 1.53vw;
}
.game-modal p {
    font-size: 1.2vw;
    color: black;
    margin: 15px 0 30px;
    font-weight: 600;
}
.game-modal p b {
    color: rgb(197, 6, 6);
    font-weight: 800;
}
.game-modal button {
    /* padding: 0.79vw 3.6vh; */
    width: 50px;
    height: 20px;
}
@media (max-width: 51.45vw) {
    .game-modal img {
        max-width: 7.9vw;
    }
    .game-modal h4 {
        font-size: 1.45rem;
    }
    .game-modal p {
        font-size: 1.1rem;
    }
    .game-modal button {
        padding: 0.658vw 2.81vh;
    }
}
.play-again{
    /* width: ; */
    /* height: 100%; */
    height: 40px;
    width: 150px;
    background: skyblue;
    border-radius: 7px;
    letter-spacing: 1.5px;
    /* font-size: 1vw; */
    /* font-size: 1.2rem; */
    /* font-family: 'Paytone One', sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 3px solid black;
    cursor: pointer;
    font-size: 15px;
    padding: 4px 4px 4px 4px;
    font-weight: 600;
}



@import "https://unpkg.com/open-props" layer(design.system);
@import "https://unpkg.com/open-props/normalize.min.css" layer(demo.support);




.rules{
    display: flex-inline;
    flex-wrap: wrap;
    width:24.5vw;
    height: 60vh;

}



.rule-1{
    width: 24vw;
    height: 9vh;
    padding-bottom: 15%;
    margin-top: -30%;
   font-family: "Paytone one", sans-serif;
font-size: 2.5vw;
color: gold;
display: flex;
justify-content: center;

}


.rule-2{
    width: 24vw;
    height: 30vh;
    padding-top: -15%;
    font-family: "Paytone one", sans-serif;
    font-size: 0.9vw;
    color: white;
}


.output{
    padding-top: 10%;
    z-index: 0;
    /* background-color: aliceblue; */
    display: none;
    color: white;
    
}
.mid{
    margin-top: 2vh;
    text-align: center;
}
.mcStan{
      padding: 10px 20px;
      border: none;
      background-color: #000;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin: 5px;
}
.mcStan:hover{
    background-color: white;
    color: #000;
}

#ontop{
    display: flex;
    flex-direction: row;
    justify-content:center;
}

/* STOPWATCH------------------------------------------------------------------------- */

.stopwatch {
    display: none;
    justify-items: center;
    grid-row-gap: 23px;
    width: 80%;
    padding-top: 25px;
    margin-left: 80px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 270px;
    width: 270px;
  
    border: 2px solid;
    border-radius: 50%;
    z-index: 1;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
  .gold {
    font-weight: 900;
  
    color: #f2c94c;
    text-shadow: 0 0 0px #fff, 0 0 50px #f2c94c;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: transparent;
    padding: 0;
    border: none;
    margin: 0;
    outline: none;
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }

  #timer{
    font-size: 20px ;
    background-color: white;
    /* color: black; */
    font-family:'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-left: 100px;
    height: 20px;
    max-width: 144px;
    z-index: 20;
    margin-bottom: 5px;
    padding-left: 3px;
  }
  #time-left{
   z-index: 20;
   height: 20px !important;
  }


  /* #toggle-sound{
    z-index: 10;
    width: 100px;
    height: 50px;
    background-color: black;

  } */


  #toggle-sound{
    z-index: 10;
    padding: 10px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 35px;
    min-width: 60px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;

}
#toggle-sound:hover{
    background-color: black;
    color: white;
}
#mcdd a{
    text-decoration: none;
}
#mcdd{
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 45%;
    /* padding-top: 45px; */
    margin-left: 80px;
    z-index: 2000;
    padding-left: 180px;
    padding-top: 300px;
    color: white;
  }


  /* On screens that are 992px or less, set the background color to blue */
 @media screen and (max-width: 1600px) {
    .keyboard-row{
        color: white;
        width: 33vw;
        margin-left: 33.8vw;
        /* margin: 0 auto; */
        /* margin-top: 20px; */
        display: flex;
        flex-wrap: wrap;
        /* padding-left: 2vw; */
    }
    
    .key-tile{
        background-color: rgb(230, 219, 219);
        color: #000;
        width: 2.5vw;
        height: 2.2vw;
        /* margin: 0.21vh; */
        margin-left: 0.21vh;
        margin-right: 0.21vh;
        padding-bottom: 0.21vh;
        margin-top: 2px;
        border: 0.23vh solid rgb(12,12,12);
        border-radius: 0.78vh;
    
        font-family: 'Paytone One', sans-serif;
        font-size: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .enter-key-tile{
        background-color: rgb(230, 219, 219);
        color: #000;
        width: 5.35vw;
        height: 2.4vw;
        /* margin: 0.16vh; */
        margin-left: 0.21vh;
        margin-right: 0.21vh;
        margin-top: 2px;
        /* padding-bottom: 0.21vh; */
        border: 0.23vh solid rgb(0, 0, 0);
        border-radius: 0.78vh;
    
        font-family: 'Paytone One', sans-serif;
        font-size: 1.2vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .tile{
        
        border: 0.2vw solid hsl(160 100% 50%);
        background-color: hsl(180 100% 50% / 20%);
        width: 5vw;
        height: 8.5vh;
        
        margin: 0.2vw;
        border-radius: 0.5vw ;
        /* box-shadow: 0.4vw 0.5vh 0.5vh black; */
        
        color: white;
        font-family: 'Paytone One', sans-serif;
        font-size: 2vw;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        /* --theme: hsl(180 100% 50%);
      --theme-bg: hsl(180 100% 50% / 25%); */
    }
  }



  @media screen and (max-width: 1400px) {
  .keyboard-row{
    color: white;
    /* background-color: pink; */
    width: 33vw;
    margin-left: 34.3vw;
    /* margin: 0 auto; */
    /* margin-top: 20px; */
    display: flex;
    flex-wrap: wrap;
    /* padding-left: 2vw; */
}

.key-tile{
    background-color: rgb(230, 219, 219);
    color: #000;
    width: 2.5vw;
    height: 2.2vw;
    /* margin: 0.21vh; */
    margin-left: 0.21vh;
    margin-right: 0.21vh;
    padding-bottom: 0.21vh;
    margin-top: 2px;
    border: 0.23vh solid rgb(12,12,12);
    border-radius: 0.78vh;

    font-family: 'Paytone One', sans-serif;
    font-size: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enter-key-tile{
    background-color: rgb(230, 219, 219);
    color: #000;
    width: 5.35vw;
    height: 2.4vw;
    /* margin: 0.16vh; */
    margin-left: 0.21vh;
    margin-right: 0.21vh;
    margin-top: 2px;
    /* padding-bottom: 0.21vh; */
    border: 0.23vh solid rgb(0, 0, 0);
    border-radius: 0.78vh;

    font-family: 'Paytone One', sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tile{
    
    border: 0.2vw solid hsl(160 100% 50%);
    background-color: hsl(180 100% 50% / 20%);
    width: 4.8vw;
    height: 8.5vh;
    
    margin: 0.2vw;
    border-radius: 0.5vw ;
    /* box-shadow: 0.4vw 0.5vh 0.5vh black; */
    
    color: white;
    font-family: 'Paytone One', sans-serif;
    font-size: 2vw;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    /* --theme: hsl(180 100% 50%);
  --theme-bg: hsl(180 100% 50% / 25%); */
}
  }


 